body {
  background-color: black;
  color: white;
  background-color: black;
  text-align: center;
}

h1 {
  font-family: 'Libre Baskerville', serif;
}

img {
  border: 5px solid white;
}

#container {
  margin: auto;
  margin-top: 20px;
  padding: 0;
}
